.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
**/data/*
Take-home_Ex/data/*.shp
Take-home_Ex/data/*.dbf
Take-home_Ex/data/*
Take-home_Ex/Take-home_Ex01/Take-home_Ex01_cache/html/*
Take-home_Ex/Take-home_Ex02/Take-home_Ex02_cache/html/*
Take-home_Ex/Take-home_Ex03/Take-home_Ex03_cache/html/*
Hands-on_Ex/*_cache/
Hands-on_Ex/*_files/
Take-home_Ex/*_cache/
Take-home_Ex/*_files/
In-class_Ex/*_cache/
In-class_Ex/*_files/
Hands-on_Ex/Hands-on_Ex10/Hands-on_Ex10-b-_cache/html/
**/123/*

/.quarto/
